// index
.main{ 
    section{ 
        h1{
        margin-top: 1%;
        margin-bottom: 1%;
        font-size: $lg;
    }
        p{
        margin-bottom: 3%;
        margin-left: 3%;
        margin-right: 5%;
        font-size: $md;
    }
    }
    h2{
    margin-top: 5%;
    }
}