// index
.main{ 
    section{ 
        h1{
        margin-top: 1%;
        margin-bottom: 1%;
        font-size: $lg;
    }
        p{
        margin-bottom: 3%;
        margin-left: 3%;
        margin-right: 5%;
        font-size: $md;
    }
    }
    h2{
    margin-top: 5%;
    }
}
// categorias
.categories{
    display: grid;
    grid-template-columns: 45% 27% 27%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
    "cadaq cadad cadad"
    "cadaq arosaq arosad";
    gap: 0px;
    .cadaq{
        grid-area: cadaq;
    }
    .cadad{
        grid-area: cadad;
    }
    .arosaq{
        grid-area: arosaq;
    }
    .arosad{
        grid-area: arosad;
    }
}